.welcome {
  width: 768px;
  margin: 0 auto;
  padding: 20px 160px 60px;
  background: url('images/code-icon.svg') no-repeat 82px 18px / 50px;
  box-sizing: border-box;
}

.welcome h1 {
  margin-top: 0;
  line-height: 1.2;
}

.welcome p {
  margin: 20px 0 0;
}

@media (min-width: 769px) {
  html, body {
    height: 100%;
  }

  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .welcome {
    width: auto;
    padding: 120px 20px 40px;
    background-size: 80px;
    background-position: center 35px;
  }
}
