<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Kottenator's Code Base{% endblock %}</title>
  <meta name="robots" content="noindex, nofollow">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'core/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'core/base.css' %}">
  {% block head_content %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
